POSTGRES_USER=admin
POSTGRES_PASSWORD=1q2w3e4r
POSTGRES_DB=adan
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

STORAGE_BASE_DIR = "./data"


NINE_ROUTER_API_BASE="http://localhost:20127/v1"
NINE_ROUTER_API_KEY="sk-99b463f8987487a2-w0fc2e-e5719541"


# LLM_MODEL=gemini/gemini-3.7-flash
LLM_MODEL=openrouter/z-ai/glm-5.2:free

# EMBEDDING_MODEL=text-embedding-3-small
# EMBEDDING_MODEL=nvidia/llama-nemotron-embed-vl-1b-v2:free
EMBEDDING_MODEL=openrouter/liquid/lfm-2.5-embedding-350m:free
EMBEDDING_DIM=1024 # for the lfm-2.5 model

RETRIEVAL_TYPE=
RETRIEVER_TOP_K=4
CHUNK_SIZE=400
CHUNK_OVERLAP=50

MIN_RELEVANCE_THRESHOLD = 0.35

